@charset "utf-8";
@use "@/styles/global" as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}